body {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    width: 200px;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
}

.menu ul li {
    width: 200px;
    padding: 10px;
    background-color: #e0e0e0; 
    cursor: pointer;
    align-items: stretch;
}

.select-topic {
    overflow-wrap: break-word;
    display: inline-block;
    padding: 10px;
    width: 90%;
    text-decoration: none;
    text-align: center;
    background-color: #868c92;
    color: white;
    border: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.open-modal-button, .db {
    width: 100%;
    background-color: #868c92; /* Синий фон кнопки */
    color: white; /* Белый текст кнопки */
    border: none; /* Убираем границу кнопки */
    padding: 5px;
    border-radius: 5px; /* Скругляем углы кнопки */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
}

.modal select {
    width:100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.open-modal-button:hover, .db:hover {
    background-color: #575f68; /* Темнеем фон при наведении */
}



.content {
    overflow-wrap: break-word;
    flex-grow: 1;
    padding: 20px;
    background-color: #e2dada;
}

.modal {
    padding: 20px;
    position: fixed; /* Позиционирование относительно окна браузера */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Корректировка позиции для точного центрирования */
    width: 300px; /* Ширина модального окна */
    height: auto; /* Высота автоматически подстраивается под содержимое */
    background-color: rgb(219, 197, 197); /* Белый фон */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень вокруг модального окна */
    border-radius: 8px; /* Скругленные углы */
    overflow-y: auto; /* Проскроллить содержимое по вертикали, если оно не помещается */
    z-index: 1000; /* Высокий z-index для того, чтобы окно было поверх всего */
}


.modal button {
    width: 100%; 
    padding: 10px; 
    margin: 5px 0;
    cursor: pointer;
    border: none; 
    border-radius: 4px; 
    background-color: #007bff; 
    color: white; 
}

.modal button:hover {
    background-color: #0056b3; /* Темнесть фоновой кнопки при наведении */
}
/* Общие стили */
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    color: #333;
    background-color: #f4f4f4; 
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Улучшаем видимость заголовков */
h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* Улучшаем видимость кнопок */
button {
    transition: background-color 0.3s ease; /* Анимация изменения фона */
}
